* , body {
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}

:root {
    font-size: 10px;
    --icon-width : 22px ;
    --incon-height : 22px;
    --smallPrifleImgWidth : 30px ;
    --smallProfileImgHeight:30px ;
    --actio-bttns-background :  rgb(145, 162, 218);
    --content-background : rgb(245, 241, 241) ;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
}

#main {
    grid-row: 1 / 2;
    grid-column: 3 / 9;
    display: grid;
    grid-template-rows: repeat(4 , 2fr);

    > #nav {
        grid-row: 1 / 2;
        display: grid;
        grid-template-rows: repeat(2 , 1fr);
        border-bottom: 3px solid rgb(150, 147, 147);
        >:nth-child(n){
            justify-content: space-around;
        }
        >:nth-child(n)> :nth-child(n) {
            width: 40%;
        }
 
        /* part#1 */
        >:first-child {
            grid-row: 1 / 2 ;
            display: flex;
            align-items: center;

            
            #search-var {
                display: flex;
                justify-content: center;
                column-gap: 5px;
                img {
                    width: var(--icon-width);
                    height: var(--incon-height);
                    align-self: center;
                }
                input[type = 'search']{
                    width : 380px ;
                    min-width: 100px;
                    border-radius: 10px;
                    background-color: var(--content-background);
                    border: 1px solid black;
                }
            }
            #profile {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                column-gap: 10px;
                img {
                    width: var(--icon-width);
                    height: var(--incon-height);
        
                }
                #smallUserName{
                     font-size: 1.5rem;
                }

            }

        }
        /* part#2 */
        >:last-child{
            grid-row: 2/4;
            display: flex;
            align-items: center;

            #welcome-sec{
                column-gap: 10px;
                display: flex;
                align-items: center;
                #bigProfileImg {
                    width: calc(var(--smallPrifleImgWidth) * 2 );
                    height: calc(var(--smallProfileImgHeight) * 2);
                    background-color: black;
                    border-radius: 100px;
                }
                #bigProfileImg ~ p {
                    font-size: 1.4rem;
                    em {
                        display: block;
                        font-size: 1.8rem;
                    }
                }
            }
            #bttns {
                display: flex;
                justify-content: space-between;
            }
        }

    }
    >#content {
        grid-row: 2 / 5;
        background-color: var(--content-background);
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
        
        #projects {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            display: grid;
            grid-template-rows: 10% 90%;
            padding-left: 10px;
            padding-bottom: 40px;
            /*title*/
            >:first-child{
                display: flex;
                align-items: center;
                font-size: 1.6rem;
            }
            /* projects grid*/
            >:last-child{
                display: grid;
                grid-template-columns: repeat(2 , 1fr) ;
                grid-template-rows: repeat(3 , 1fr);
                row-gap: 15px;
                column-gap: 15px;
            
                >:nth-child(odd){
                    grid-column: 1 / 2;
                    grid-row: span 1;
                }
                >:nth-child(even){
                    grid-template-columns: 2 / 3;
                    grid-row: span 1;
                }
            }
        }
        #announcements{
            grid-column: 3 / 4;
        }
        #trending {
            grid-column: 3/4;
            grid-row: 2 / 3;
        }
    }
}

.smallProfileImg {
    width: var(--smallPrifleImgWidth);
    height: var(--smallProfileImgHeight);
    border-radius: 200px;
    background-color: black;
}
.action-bttns {
    background-color:var(--actio-bttns-background);
    color : white ;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    font-size: 1.5rem;
    border: none;
}
.card {
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px gray;
    border-left: 4px solid yellow;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* header */ 
    >:first-child{
        font-size: 1.5rem;
    }
    /* description */
    >:nth-child(2){
        overflow-y: scroll;
    }
    /* icons */
    >:last-child {
        margin-top: 5px;
        align-self: flex-end;
        font-size: 1.2rem;
    }
}

#aside {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: var(--actio-bttns-background);
    border-left: 2px solid rgb(73, 73, 73);

    > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60%;
        padding: 0% 10%;
        /* logo , part1 , par2 */
        >:nth-child(n){
            width: 80%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            > :nth-child(n){
                display: flex;
                column-gap: 20px;
                i , p {
                    font-size: 1.7rem;
                    color : white  ;
                }
            }
        }
        >div#logo:first-child {
            width: 100%;
            align-self: flex-start;
            i {
                font-size: 3rem;
            }
            p {
                font-size: 2.2rem;
            }
        }

    }    
}
